:root{
    --oriented-dark-color: #1a1b30;
    --oriented-footer-color: #050720;
    --oriented-orange-color: #ffcf43;
    --oriented-light-gray-color: #e3e3e3;

    --oriented-blue-color: #3dcdc4; 
    --oriented-lignt-blue-color: #4b9f9b; 
    --oriented-dark-blue-color: #065060;

    --oriented-white-color: #ffffff;
    --oriented-black-color: #000000;
    --oriented-444-color: #444;
}